@charset "UTF-8";

body {
  background-color: rgb(46, 44, 44);
}
p {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
iframe {
  display: block;
  margin: auto;
}